@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background: #FAF9FC;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #16121F;
}
